<!DOCTYPE html>
<HTML lang="en">
    <head>
        <link rel="icon" href="kiwii.png">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body id="#about">
        <link rel="stylesheet" href="stylesheet.css">
        <title>Kiwii About Page</title>
        <center>
        <div class="title-container">
            <div class="topnav" id="navbar">
                <a class="active" href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="fighting.html">Fighting Games</a>
                <a href="adventure.html">Adventure Games</a>
                <a href="stealth.html">Stealth Games</a>
                <a href="puzzle.html">Puzzle Games</a>
                <a href="rpgs.html">RPGs</a>
            </div>

            <img src="kiwii.png"></img>
            <h1>About & Contact</h1>
            </div>
        </center>
        <h2>About Me</h2>
        <div>
            <strong>I am an aspiring game developer who has always been inspired by the effort and detail that game developers put into their products.</strong>
        </br>
            <strong>I use Unity to develop games and have done one project in p5.play</strong>
         <br>
         <br>
         <center>
            <div class="subtitle-container">
                <img src="unity.png" width="500px" height="250px"></img>
                <img src="p5.jpeg" width="500px" height="250px"></img>
           </div>
         </center>
         <h2>Contact</h2>
         <ul>
             <h3>Email: placeholder@gmail.com</h3>
             <h3>Phone: *insert random number here*</h3>
         </ul>
        </div>
        <center><img src="kiwibetter.png" width="100px" height="100px"></img></center>   
        <script>
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
    </body>
</HTML> 