<!DOCTYPE html>
<HTML lang="en">
    <head>
        <link rel="icon" href="kiwii.png">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <title>Adventure Game Ideas</title>
        <center>
        <div class="title-container">
            <div class="topnav" id="navbar">
                <a class="active" href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="fighting.html">Fighting Games</a>
                <a href="adventure.html">Adventure Games</a>
                <a href="stealth.html">Stealth Games</a>
                <a href="puzzle.html">Puzzle Games</a>
                <a href="rpgs.html">RPGs</a>
            </div>

            <img src="kiwii.png"></img>
            <h1>Adventure Game Ideas</h1>
            </div>
            <div class="banner-container">
                <img class="banner" src="loz2.jpg" width="1480px" height="200px"></img>
           </div>
           <ul class="subtitle">
               <h2>"Paradise Lost"</h2>
           </ul>
           <div class="subtitle-container">
               <p>This adventure game idea is one i've had for a while now. Essentially, the player character is cast out of "heaven" and is forced to wander through "hell".</p>
               <p>In the start of the game, the character does not remember why they were cast out of heaven and as such wanders around aimlessly, or so it seems.</p>
               <p>In truth the player character was tasked with cleansing sin from the world and only when they accomplish this can they return to heaven.</p>
               <p>To cleanse this "sin" the player encounters multiple phenomena on their journey, be it a labyrinth or a monster terrorising a town, and each of these phenomena</p>
               <p>are actually a physical representation of a sin (which in this case will be based off of the seven deadly sins).</p>
               <p>As the player purges the world of these sins they find items that are akin to pieces of their own soul and with each of these items the character gets a memory of why</p>
               <p>they were kicked out of heaven.</p>
           </div>
           <img src="pd.jpg" width="500px" height="250px"></img>
        </center>
        <center><img src="kiwibetter.png" width="100px" height="100px"></img></center>
        <script>
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
    </body>