<!DOCTYPE html>
<HTML lang="en">
    <head>
        <link rel="icon" href="kiwii.png">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <title>Fighting Game Ideas</title>
        <center>
        <div class="title-container">
            <div class="topnav" id="navbar">
                <a class="active" href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="fighting.html">Fighting Games</a>
                <a href="adventure.html">Adventure Games</a>
                <a href="stealth.html">Stealth Games</a>
                <a href="puzzle.html">Puzzle Games</a>
                <a href="rpgs.html">RPGs</a>
            </div>

            <img src="kiwii.png"></img>
            <h1>Fighting Game Ideas</h1>
            </div>
            <div class="banner-container">
                 <img class="banner" src="fightinggames.png" width="1480px"></img>
            </div>
            <ul class="subtitle">
                <h2>My first fighting game idea</h2>
            </ul>
            <div class="subtitle-container">
                <p>I have always wanted to create a fighting game where parrying and grabbing where the main mechanics.</p>
                <p>I think it would be interesting if I could create a game in which it is better to create combos out of parries and grabs/throws.</p>
                <p>Timing parries and grabs correctly is an important part of the skillset in a lot of fighting games and as such</p>
                <p>I figured a game which leans more heavily into these mechanics could offer a more challenging, yet rewarding experience for more experienced players.</p>
            </div>
        </br>
            <div class="subtitle-container">
                <p>Of course a lot of fighting games have an underlying story between characters and I must admit I thought significantly less about what sort of narrative</p>
                <p>I would construct for any potential game I would make as in the genre the story has always been separate to the mechanics.</p>
                <p>What I have thought a lot about is character design. I don't have any designs in particular, however, I am aware that a large part of making an enticing fighting game</p>
                <p>is the character designs. Creating distinct figures and yet still maintaining a visually coherent style to link them together is a necessity when making any game and</p>
                <p>fighting games are no exception.</p>
            </div>
        </center>
        <img src="daigobrrr.jpg" width="500px" height="250px" style="float: left;"></img>
        <img src="getgrabbed.jpg" width="500px" height="250px" style="float: right"></img>
        <center><img src="kiwibetter.png" width="100px" height="100px"></img></center>
        <script>
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
    </body>
</HTML> 