<!DOCTYPE html>
<HTML lang="en">
    <head>
        <link rel="icon" href="kiwii.png">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <center>
            <title>Kiwii's Game Portfolio</title>
            <div class="title-container">
                <div class="topnav" id="navbar">
                     <a class="active" href="index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="fighting.html">Fighting Games</a>
                    <a href="adventure.html">Adventure Games</a>
                    <a href="stealth.html">Stealth Games</a>
                    <a href="puzzle.html">Puzzle Games</a>
                    <a href="rpgs.html">RPGs</a>
                </div>
                <img src="kiwii.png"></img>
                <h1>Kiwii Game Portfolio</h1>
            </div>
        </center>
        <div>
            <h2>Genres I enjoy</h2>
            <ul class="subtitle">
                <li><a href="fighting.html">Fighting Games</a></li>
                <img src="streetfyter.jpg" style="width: 500px; height: 250px"></img>
                <div class="subtitle-container">
                    <p>I have always been a fan of fighting games because they have a large replay value due to them having large rosters (which can be expanded upon).</p>
                    <p>They work well as both a casual and competitive game as the controls can be mastered through combos or players can simply noodle around on their controllers or button mash.</p>
                    <p>Complexity can be found through learning in game frame data, character hitboxes, etc which makes a rewarding system for players to ioncrease their own skill.</p>
                    <p>I have always wanted to make my own fighting game because I am fascinated by the mechanics and would like to make my own unique fighting game to add to the genre.</p>
                </div>
            <br>
                <li><a href="adventure.html">Adventure Games</a></li>
                <img src="botw.jpg" style="width: 500px; height: 250px"></img>
                <div class="subtitle-container">
                    <p>I love adventure games...</p>
                    <p>The free feeling of exploration and a grand journey have always appealed to me and as such I have always been drawn to games that allow players</p>
                    <p>to do their own thing and choose how they go about playing the game.</p>
                    <p>Having a sense of freedom, yet still subtly guiding players down the right path is a game design skill that I admire greatly.</p>
                </div>
            <br>
                <li><a href="stealth.html">Stealth Games</a></li>
                <img src="gear og metal solids.jpg" style="width: 500px; height: 250px"></img>
                <div class="subtitle-container">
                    <p>I love adventure games...</p>
                    <p>The free feeling of exploration and a grand journey have always appealed to me and as such I have always been drawn to games that allow players</p>
                    <p>to do their own thing and choose how they go about playing the game.</p>
                    <p>Having a sense of freedom, yet still subtly guiding players down the right path is a game design skill that I admire greatly.</p>
                </div>
            <br>
                <li><a href="puzzle.html">Puzzle Games</a></li>
            <br>
                <li><a href="rpgs.html">RPGs</a></li>
            </ul>
        </div>
        <center><img src="kiwibetter.png" width="100px" height="100px"></img></center>
        <script>
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
    </body>
</HTML>