<!DOCTYPE html>
<HTML lang="en">
    <head>
        <link rel="icon" href="kiwii.png">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body id="#about">
        <title>Stealth Game Ideas</title>
        <center>
        <div class="title-container">
            <div class="topnav" id="navbar">
                <a class="active" href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="fighting.html">Fighting Games</a>
                <a href="adventure.html">Adventure Games</a>
                <a href="stealth.html">Stealth Games</a>
                <a href="puzzle.html">Puzzle Games</a>
                <a href="rpgs.html">RPGs</a>
            </div>

            <img src="kiwii.png"></img>
            <h1>Stealth Game Ideas</h1>
            </div>
            <div class="banner-container">
                <img class="banner" src="motn.jpg" width="1480px" height="200px"></img>
           </div>
           <ul class="subtitle">
            <h2>General Concpets</h2>
           </ul>
        <div class="subtitle-container">
            <p>Much like with fighting games I don't have one specific idea per se, but some concepts that i'd like to incorporate into a stealth game.</p>
            <p>I think it would be interesting to have a stealth game in which the enemy ai learns the player's patterns in distracting them and adapt as the game progresses.</p>
            <p>For example, if the player uses thrown items a lot as a distraction, the game could start punishing them for it by having enemies become wiser.</p>
            <p>This would give ample incentive for player's to diversify their techniques and allow them to employ new strategies which can attribute to the replayability of the game.</p>       
        </div>
        <img src="nm.jpg"></img>
        </center>
        <center><img src="kiwibetter.png" width="100px" height="100px"></img></center>
        <script>
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var sticky = navbar.offsetTop;
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
    </body>